@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Nunito', 'Pretendard';
    font-size: 16px;
    color: #424242;
}

#brand-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#logo{
    height: 25px;
}

#home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#sub-header{
    display: flex;
    align-items: center;
    padding: 0 40px 0 10px;
    height: 50px;
}

#back{
    width: 30px;
}

#header-text{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.language-flag{
    height: 30px;
}

#home-header .language-flag{
    height: 25px;
}

#progress-bar{
    height: 5px;
    background-color: #ECEFF1;
}

#progress-bar-fill{
    width: 0;
    height: 100%;
    background-color: #CFD8DC;
    transition-property: width;
    transition-duration: 0.5s;
}

#content{
    margin: 10px auto;
    width: max(325px, 80%);
}

#passage{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.section{
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.course{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    height: 50px;
}

.course:hover{
    background-color: #ECEFF140;
}

.step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.step:hover{
    background-color: #ECEFF140;
}

.icon-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.lesson, .test{
    width: 30px;
}

#static-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 150px;
    border-radius: 10px;
    outline: 1px solid #CFD8DC;
}

#card-container{
    height: 200px;
}

#variable-card{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    outline: 1px solid #CFD8DC;
}

#word{
    font-weight: bold;
    font-size: 30px;
}

#sentence{
    font-size: 18px;
}

#meaning{
    font-size: 18px;
}

.blank{
    user-select: none;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 5px;
    outline: 1px dashed #CFD8DC;
    color: #ffffff00;
    background-color: #ECEFF180;
}

.reveal .blank{
    color: inherit;
}

#option-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #ECEFF180;
    color: #263238;
    outline: 1px solid #CFD8DC;
}

.option:hover{
    background-color: #ECEFF1BF;
}

.option.selected{
    background-color: #E1F5FE80;
    color: #01579B;
    outline: 1px solid #80D8FF;
}

.option.selected:hover{
    background-color: #E1F5FEBF;
}

.reveal .option.correct{
    background-color: #B9F6CA40;
    color: #1B5E20;
    outline: 1px solid #69F0AE;
}

.reveal .option.correct:hover{
    background-color: #B9F6CA80;
}

#writing-area{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    margin: 25px 0 75px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #ECEFF180;
    outline: 1px dashed #CFD8DC;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    overflow: clip;
}

#writing-area.correct{
    user-select: none;
    background-color: #B9F6CA40;
    color: #1B5E20;
    outline: 1px dashed #69F0AE;
}

#writing-area.incorrect{
    user-select: none;
}

#input-container{
    margin-top: 25px;
}

#input-container span{
    border-bottom: 1px solid #CFD8DC;
}

#piece-container{
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 25px 0;
    height: 100px;
}

.piece{
    user-select: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: 1px solid #CFD8DC;
}

.piece:hover{
    background-color: #ECEFF140;
}

.piece.selected{
    outline: 1px solid #80D8FF;
    background-color: #E1F5FE80;
    color: #01579B;
}

.piece.selected:hover{
    background-color: #E1F5FEBF;
}

.piece.correct{
    background-color: #B9F6CA40;
    color: #1B5E20;
    outline: 1px solid #69F0AE;
}

.piece.correct:hover{
    background-color: #B9F6CA80;
}

#foot-button-container{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

#foot-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #ECEFF180;
    outline: 1px solid #CFD8DC;
}

#foot-button:hover{
    background-color: #ECEFF1BF;
}
