@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Nunito', 'Pretendard';
    font-size: 16px;
    color: #424242;
}

#brand-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#logo{
    height: 25px;
}

#home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#sub-header{
    display: flex;
    align-items: center;
    padding: 0 40px 0 10px;
    height: 50px;
}

#back{
    width: 30px;
}

#header-text{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.language-flag{
    height: 30px;
}

#home-header .language-flag{
    height: 25px;
}

#progress-bar{
    height: 5px;
    background-color: #ECEFF1;
}

#progress-bar-fill{
    width: 0;
    height: 100%;
    background-color: #CFD8DC;
}

#content{
    margin: 10px auto;
    width: max(325px, 80%);
}

#passage{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.section{
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.course{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    height: 50px;
}

.course:hover{
    background-color: #ECEFF140;
}

.step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.step:hover{
    background-color: #ECEFF140;
}

.icon-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.lesson, .test{
    width: 30px;
}

#learning-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 150px;
    border-radius: 10px;
    outline: 1px solid #CFD8DC;
}

#word{
    font-weight: bold;
    font-size: 30px;
}

#meaning{
    font-size: 18px;
}

#option-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #ECEFF180;
    color: #263238;
    outline: 1px solid #CFD8DC;
}

.option:hover{
    background-color: #ECEFF1BF;
}

.option.selected{
    background-color: #E1F5FE80;
    color: #01579B;
    outline: 1px solid #80D8FF;
}

.option.selected:hover{
    background-color: #E1F5FEBF;
}

.option.correct{
    background-color: #B9F6CA80;
    color: #1B5E20;
    outline: 1px solid #69F0AE;
}

.option.correct:hover{
    background-color: #B9F6CA80;
}

#foot-button-container{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

#foot-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #ECEFF180;
    outline: 1px solid #CFD8DC;
}

#foot-button:hover{
    background-color: #ECEFF1BF;
}
