@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Nunito';
    font-size: 16px;
}

#header{
    height: 50px;
}

#backward{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}

#progress-bar{
    height: 5px;
    background-color: #ECEFF1;
}

#progress-bar-fill{
    width: 60%;
    height: 100%;
    background-color: #CFD8DC;
}

#content{
    margin: 0 auto;
    width: 325px;
}

#question{
    display: flex;
    align-items: center;
    outline: 1px solid #CFD8DC;
}

.option:hover{
    background-color: #ECEFF1BF;
}

.option.selected{
    background-color: #E1F5FE80;
    color: #01579B;
    outline: 1px solid #80D8FF;
}

.option.selected:hover{
    background-color: #E1F5FEBF;
}

.option.correct{
    background-color: #B9F6CA80;
    color: #1B5E20;
    outline: 1px solid #69F0AE;
}

.option.selected:hover{
    background-color: #E1F5FEBF;
}

.option.correct{
    background-color: #B9F6CA40;
    color: #1B5E20;
    outline: 1px solid #69F0AE;
}

.option.correct:hover{
    background-color: #B9F6CA80;
}

#foot-button-container{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

#foot-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #ECEFF180;
    outline: 1px solid #CFD8DC;
}

#foot-button:hover{
    background-color: #ECEFF1BF;
}